.fa{
font-size: 20px;
  background-color: #00bfa6;
  padding: 10px;
  border-radius: 50%;
width: 45px;
  color: white;
}
.fa:hover{
  color: #00bfa6;
  background-color: white;
}
.col-md-1{
  margin: 5px;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #00bfa6;
  border-color: #00bfa6;
}
a{
  text-decoration: none;
}
