<div class="container-fluid" style=" background-color: #444444">
  <div class="row" >

    <div class="col-md-5" style="text-align: center;padding: 50px">
        <h3 style="padding-top: 10px;text-align: center">Where AM I ?</h3>
      <div class="row" style="padding-top: 100px">

        <div class="col-md-3"></div>
        <div class="col-md-1 "> <a href="#"> <i class="fa fa-facebook"></i></a></div>
        <div class="col-md-1">
          <a href="#"> <i class="fa fa-twitter"> </i></a>
        </div>
        <div class="col-md-1">
          <a href="#"> <i class="fa fa-github"> </i></a>
        </div>
        <div class="col-md-1">
          <a href="#"> <i class="fa fa-linkedin"> </i></a>
        </div>

        <div class="col-md-1">
          <a href="#"> <i class="fa fa-phone">  </i></a>
        </div>
        <div class="col-md-1">
          <a href="#"> <i class="fa fa-envelope"> </i></a>
        </div>
        <div class="col-md-3"></div>
      </div>


    </div>

    <div class="col-md-7" style="padding: 50px;">
      <h3 style="text-align: center">Contact Me</h3>
      <form >
        <div class="row" style="color: white">
          <div class="col">
            <label>Email address *</label>
            <input type="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="col">
          <label >Subject</label>
          <input type="text" class="form-control"  placeholder="Subject">
          </div></div>
        <br>
        <div class="form-group" style="color: white">
          <label >Description *</label>
          <textarea class="form-control"  rows="4"></textarea>
        </div>
        <button  type="submit" class="btn btn-outline-info" style="
padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #c5c5c5;">Submit</button>
      </form>
    </div>
  </div>
</div>
