<div class="container-fluid pattern ">
  <div class="row" style="padding-top:30px;text-align: center">
    <div class="col-md-12" style="height: 505px;">
      <div class="row">
        <div class="col-md-3">

          <div class="container animated zoomIn">
            <div class="row">
              <div class="animation"></div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h1>
            <a  class="typewrite" data-period="2000"
               data-type='[ "Hi, I am BENDRIMOU Ayoub.", "I am Full-Stack Developer.",
               "I Love HTML5, JavaScript, CSS3 and Bootstrap.","I Love to Develop.",
               "I Love to Code.","My Circle of Life is :","Eat , Code with Passion , Sleep"]'>

              <span class="wrap"></span>
            </a>
          </h1>

          <img id="imga" src="./assets/images/login2.svg" alt="profile image" height="160px" >
          <br>
          <h6 class="animate__animated animate__bounce animate__delay-2s">
            Lorem Loerem Lorem LoeremLorem LoeremLorem LoeremLorem LoeremLorem Loerem
            Lorem LoeremLorem LoeremLorem<br> LoeremLorem LoeremLorem LoeremLorem LoeremLorem LoeremLorem Loerem
            Lorem LoeremLorem LoeremLorem LoeremLorem Loerem
            Lorem Loerem

          </h6>
          <br>
<div class="row animate__animated animate__bounce animate__delay-2s" >
  <div class="col-md-4"> </div>
  <div class="col-md-1" ><a href="#" > <nb-icon icon="facebook" id="facebook" ></nb-icon>  </a> </div>
  <div class="col-md-1" > <a href="#" > <nb-icon icon="twitter" id="twitter"></nb-icon></a>    </div>
  <div class="col-md-1">  <nb-icon id="github" icon="github"></nb-icon></div>
  <div class="col-md-1">  <nb-icon id="star" icon="star"></nb-icon></div>
  <div class="col-md-4"> </div>
</div>
          <br>
<div class="bar"></div>
          <br>
            <nav class="fill">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">My Work</a></li>
                <li><a href="#">Skills</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Hire Me</a></li>
              </ul>
            </nav>


        </div>
        <div class="col-md-3" style="padding-top: 290px">

          <div class="container animated zoomIn">
            <div class="row">
              <div class="animation"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


