.pattern{
  color:white;
  background-color: #585858;
  background: rgb(0,140,120);
  background: linear-gradient(90deg, rgba(0,140,120,1) 50%, rgba(0,191,166,1) 100%);
  font-family: 'PT Sans', sans-serif;
}
#imga{

  border-radius: 20px;

}
* { color:#fff; text-decoration: none;}


/* NAVIGATION */

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 20px;
  font-weight: bold;


  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #00bfa6;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f1f1f1;
  height: 1px;
}


nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 2s forwards;
  -webkit-animation: fill 2s forwards;
  -moz-animation: fill 2s forwards;
  opacity: 1;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #00bfa6;
  }
}

.bar{
  border-bottom: 1px solid white;
}
#facebook:hover{
  color: #3b5998;

}
#twitter:hover{
  color: #00acee;
}
#github:hover{
  color: #7743CE;
}
#star:hover{
  color:black;
}


.animation {
  margin: 0 auto;
  margin-top: 40px;
  width: 150px;
  height: 150px;
  background-color: #00bfa6;
  border: 5px solid whitesmoke;
  animation: square-to-circle 1s .83s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
.animation1 {
  margin: 0 auto;
  /*margin-top: 40px;*/

  width: 50px;
  height: 50px;
  background-color: #00bfa6;
  border: 3px solid whitesmoke;
  animation: square-to-circle 1s .83s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}

@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:white;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:25% 25% 25% 25%;
    background:#00bfa6;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 50% 50%;
    background:white;
    transform:rotate(90deg);
  }
  75%  {
    border-radius:75% 75% 75% 75%;
    background:#00bfa6;
    transform:rotate(180deg);
  }
  100% {
    border-radius:100% 100% 100% 100%;
    background:white;
    transform:rotate(360deg);
  }



}
@media (max-width: 700px){
  .animation1 {
    display: none;
  }
  .fill {
    display: none;
  }
}

col-md-1 a img {
  font-size: 30px;
}
